p{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
}
body{
    background-color: white;
}
h1{
    text-align: center;
   
    color: black;
}
.img{
    align-items: center;
    justify-items: center;
   padding-left: 33%;
   padding-top: 50px;
   padding-bottom: 50px;
}
.feature-icon svg{
    transition: var(--transition);
    align-items: center;
    
}
.feature-title{
    text-transform: uppercase;
    color: black;
    align-items: center;
}
.feature-text{
    color: black;
   max-width: 17rem;
   margin: 0 auto;
    color: black;
    text-align: center;
    align-items: center;
}
.feature:hover{
    box-shadow: 2px 2px 2px 2px rgb(22, 22, 22);
    

}
.feature:hover .feature-title{
    text-align: center;
    align-items: center;
    color: black;

}
.feature:hover .feature-icon svg{
    background-color: black;    
    padding: 10px;
    transform: translateY(-5px);
    transition: 0.5s;
    color: black;
    align-items: center;
    margin-bottom: 10px;
    
}
@media screen and (min-width: 576px){
    .feature{
       width: 50%;
         float: left;
    }
}
@media screen and (min-width: 1200px){
    .feature{
       width: 25%;
         float: left;
    }
}

a{
    padding: 50px;
    color: black;
}
.links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 250px;
    color: black;
    
    
}
.links :hover{
    transition: 0.5s;
    transform: none;
    color: red;
}
.nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #d2bb0fda;

}
.nav .logo b{
    color: #ff511c;
}
.nav ul{
    display:flex;
    list-style: none;
}
.nav ul li{
    margin-left: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
}
.nav ul .active::after{
    content: '';
   width: 50%;
    height: 3px;
    display: inline;
    position: relative;
    margin-left:  10px; 
}

.nav ul li a {
  color: #333;               
  text-decoration: none;     
  padding: 8px 15px;        
  transition: 0.3s;          
}


.nav ul li a:hover {
  color: #ff4500;            
  background-color: #f5f5f5; 
  border-radius: 5px;        
}


.nav ul li a.active {
  color: #fff;
  background-color: red;
}
