.services{
    
    text-align: center;
    color: black;
    margin-top: 10 px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
}
.services h2{
    color: black;
    margin-top: 50px;
}
.services h2:hover{
    transition: 0.5s;
    transform: translateY(-5px);
    color: aqua;
    cursor: pointer;
    
}nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #d2bb0fda;

}
.nav .logo b{
    color: #ff511c;
}
.nav ul{
    display:flex;
    list-style: none;
}
.nav ul li{
    margin-left: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
}
.nav ul .active::after{
    content: '';
   width: 50%;
    height: 3px;
    display: inline;
    position: relative;
    margin-left:  10px; 
}

.nav ul li a {
  color: #333;               
  text-decoration: none;     
  padding: 8px 15px;        
  transition: 0.3s;          
}


.nav ul li a:hover {
  color: #ff4500;            
  background-color: #f5f5f5; 
  border-radius: 5px;        
}


.nav ul li a.active {
  color: #fff;
  background-color: #ff4500;
  border-radius: 5px;
}

